
.map, .hiddenMap{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.map div, .hiddenMap  div{
    margin: 0;
    padding: 0;
}
.map h1, .hiddenMap  h1{
    color: var(--red);
    font-weight: bolder;
    font-family: 'Kaushan Script', cursive;
    
    

}
.map h1 strong, .hiddenMap h1 strong{
    color:var(--blue);
    position: fixed;
}
.img{
    transition: all 0.5s;
    width: 100%;
    margin: 0;
    padding: 0;
}
.map button, .hiddenMap  button{
    background-color:var(--blue);
    cursor: pointer;
    padding: 10px;
    padding-top: 20px;
    margin: 0;
    border:none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: -10px;
    font-family: var(--heading-font);
    font-size: medium;
    font-weight: bold;
    color:white;
    outline: none;
    transition: 0.5s;
}
.img{
    height: var(--header-heigth);  
}
.hiddenMap button:hover{
    margin-top: -5px;
}
.hiddenMap h1{   
    display: none;
    border: 1px solid black; 
    font-size: 2rem;
}
.fullImg{
    width: 100%;
    margin: 0;
    height: 500px;
    padding: 0;
    transition: all 0.5s;
}
@media  screen and (min-width:700px) {
    .fullImg{
        width: 100%;
        margin: 0;
        height: 500px;
        padding: 0;
        transition: all 0.5s;
    }
}
